{% extends '::base.html.twig' %}
{% block body -%}
    


    <h1>Question creation</h1>
    {{ form(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('homepage') }}">
            Back
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var quizzId = {{ quizzId }};
    </script>
{% endblock %}